<div th:fragment="modal-productos(productos, idModal)">
	<div class="modal fade" th:id="${idModal}" tabindex="-1">
		<div class="modal-dialog modal-dialog-centered modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Seleccionar Producto</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
				</div>

				<div class="modal-body">
					<div class="table-responsive">
						<table id="tblSelectorProductos" class="table table-hover">
							<thead class="table-secondary">
								<tr>
									<th>Código</th>
									<th>Nombre</th>
									<th>Precio</th>
									<th>Acción</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="prod : ${productos}">
									<td th:text="${prod.idProducto}"></td>
									<td th:text="${prod.descripcion}"></td>
									<td th:text="${prod.precio}"></td>
									<td>
										<button type="button" class="btn btn-primary btnSeleccionar"
											th:data-id-producto="${prod.idProducto}"
											th:data-descripcion="${prod.descripcion}" th:data-precio="${prod.precio}">
											Seleccionar
										</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>