<html xmlns:th="http://www.thymeleaf.org" th:replace="fragments/layout :: layoutBase(~{::contenido}, ~{::scripts})">

<th:block th:fragment="contenido">
	<div class="card shadow-lg">
		<div class="card-body">
			<div class="row">
				<div class="col-md-10">
					<h1 class="card-title">Listado de productos</h1>
				</div>
				<div class="col-md-2">
					<a th:href="@{/producto/nuevo}" class="btn btn-success w-100"> <i class="fa-solid fa-plus"></i>
						Nuevo
					</a>
				</div>
			</div>
			<div class="row mb-3">
				<fieldset class="border border-2 border-dark pb-2">
					<legend class="float-none w-auto px-2">Filtros</legend>
					<form th:action="@{/producto/filtrar}" method="get" th:object="${filter}">
						<div class="row align-items-end">
							<div class="col-md-3">
								<label for="idCategoria" class="form-label">Categoría</label>
								<div class="input-group">
									<span class="input-group-text"><i class="fa-solid fa-chalkboard-user"></i></span>
									<select class="form-select" th:field="*{idCategoria}">
										<option value="">--Todos--</option>
										<option th:each="item:${lstCategoria}" th:value="${item.idCategoria}"
											th:text="${item.descripcion}">
										</option>
									</select>
								</div>
							</div>
							<div class="col-md-3">
								<label for="proveedor" class="form-label">Proveedor</label>
								<div class="input-group">
									<span class="input-group-text"><i class="fa-solid fa-truck-fast"></i></span>
									<select class="form-select" th:field="*{idProveedor}">
										<option value="">--Todos--
										</option>
										<option th:each="item:${lstProveedor}" th:value="${item.idProveedor}"
											th:text="${item.razonSocial}">
										</option>
									</select>
								</div>
							</div>
							<div class="col-md-6 text-end">
								<button type="submit" class="btn btn-outline-dark">
									<i class="fa-solid fa-binoculars"></i> Buscar
								</button>
								<a th:href="@{/producto/listado}" th class="btn btn-outline-secondary">
									<i class="fa-solid fa-broom"></i> Limpiar
								</a>
							</div>
						</div>
					</form>
				</fieldset>
			</div>
			<table id="tbl-producto" class="table table-hover table-responsive">
				<thead class="table-dark text-center">
					<tr>
						<th>Id</th>
						<th>Descripción</th>
						<th>Stock</th>
						<th>Precio</th>
						<th>Categoría</th>
						<th>Proveedor</th>
						<th>Activo</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody class="table-secondary">
					<tr th:each="item: ${lstProducto}">
						<td th:text="${item.idProducto}" class="text-center"></td>
						<td th:text="${item.descripcion}"></td>
						<td th:text="${item.stock}" class="text-end"></td>
						<td th:text="|S/. ${item.precio}|" class="text-end"></td>
						<td th:text="${item.categoria.descripcion}"></td>
						<td th:text="${item.proveedor.razonSocial}"></td>
						<td class="text-center">
							<span class="badge" th:classappend="${item.activo} ? ' bg-success' : ' bg-secondary'"
								th:text="${item.activo} ? 'Activo' : 'Inactivo'">
							</span>
						</td>
						<td class="d-flex justify-content-around">
							<a th:href="@{/producto/edicion/{id}(id=${item.idProducto})}"
								class="btn btn-outline-secondary" title="Editar" aria-label="Editar" role="button">
								<i class="fa-regular fa-pen-to-square"></i>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<th:block th:utext="${toast}"></th:block>
</th:block>
<th:block th:fragment="scripts">
	<script>
		$(function () {
		    $('#tbl-producto').DataTable({
				language: {
						url: 'https://cdn.datatables.net/plug-ins/2.3.4/i18n/es-ES.json',
						search: "Filtrar: ",
					},
				pageLength: 10,
				lengthMenu: [5, 10, 25, 50],
				ordering: true,
				order: [ [2, 'desc'] ],  
				responsive: true,
				columnDefs: [
					{ targets: [6,7], orderable: false },
					{ targets: [0, 2, 3, 4, 5, 6, 7], searchable: false }
				]
		    });
		});
	</script>
</th:block>









